{% extends 'navbar.html' %}
{% load static %}
{% block body %}
      <div class="jumbotron">
        <h1 class="display-4">Rentify</h1>
        <p class="lead">Where Renting Meets Simplicity</p>
        <hr class="my-4" />
        <p>
          Find your perfect rental property or list your property for rent
          hassle-free with Rentify.
        </p>
        <a class="btn btn-pink btn-lg" href="{% url 'register' %}" role="button"
          >Get Started</a
        >
      </div>
    </div>

{% endblock %}

    
